<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Login Form</title>
    <link rel="stylesheet" href="static/css/loggedInStyles.css">
</head>

<body>
    <form method="post">
        <input type="submit" name="logout" class="push_button red" value="Logout">
    </form>

</body>
</html>
